@import '~antd/dist/antd.css';

html, body {
  font-family: 'Gotu';
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.logo {
  color: white;
  background: white;
  font-size: 26px;
  text-shadow: 1px 1px 0 #000b5b, 1px -1px 0 #000b5b, -1px 1px 0 #000b5b, -1px -1px 0 #000b5b, 1px 0px 0 #000b5b, 0px 1px 0 #000b5b, -1px 0px 0 #000b5b, 0px -1px 0 #000b5b;
}

@media only screen and (max-width: 512px) {
  .logo {
    font-size: 18px;
  }
}

.australia-map {
  height: 490px;
}

@media screen and (max-width: 550px) {
  .australia-map {
    height: 310px;
  }
}

.app-content {
  margin: 100px 0;
}

.main-divider {
  top: 100px;
  position: sticky;
  z-index: 3;
  background: white;
}

.main-divider > .ant-divider {
  font-size: 28px;
  color: #108ee9;
  margin: 0;
  padding: 16px 0;
}

@media screen and (max-width: 623px) {
  .app-content {
    margin: 144px 0 100px;
  }
  .main-divider {
    top: 144px;
    position: sticky;
  }
}

.statistic-card-icon > div > svg {
  height: 3em;
  width: 3em;
  fill: #2893d6;
}
.statistic-card-icon {
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}

.statistic-card-icon > div {
  text-align: right;
}

.statistic-card .ant-card-body {
  padding: 24px 0 0;
}

.statistic-card {
  margin: 24px 0;
}

.state-selector {
  display: flex;
  flex-wrap: wrap;
}

.state-selector label {
  margin: 4px;
  width: 64px;
}