@import '~antd/dist/antd.css';

html, body {
  font-family: 'Gotu';
}

main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.logo {
  color: white;
  background: white;
  font-size: 30px;
  text-shadow: 1px 1px 0 #000b5b, 1px -1px 0 #000b5b, -1px 1px 0 #000b5b, -1px -1px 0 #000b5b, 1px 0px 0 #000b5b, 0px 1px 0 #000b5b, -1px 0px 0 #000b5b, 0px -1px 0 #000b5b;
}
@media only screen and (max-width: 400px) {
  .logo {
    font-size: 22px;
  }
}

